/* --------------------------------------------------------
Feuille de style css par défaut du framework

version: 1.0
last modified: 24.04.2015 by Swith
author: Jeremy Smith
email: contact@swith.fr
website: http://swith.fr
----------------------------------------------------------*/

/* ===============
   RESET
   =============== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ===============
   GLOBAL SETTINGS
   =============== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #65737e;
    background-color: #f0f5ff;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 4.5em 0 0;
    text-transform: uppercase;
}

/* ===============
   HEADINGS
   =============== */
.title--center {
    text-align: center;
}

/* ===============
   GRID
   =============== */
.container {
    width: 60%;
    margin: 0 auto;
}

/* ===============
   ALERT
   =============== */
.alert {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;

    border-radius: .2em;
}

.alert-warning {
    color: #ffffff;
    
    border: 1px solid #e67e22;
    background-color: #f39c12;
}

.alert-success {
    color: #ffffff;

    border: 1px solid #05e997;
    background-color: #6de98d;
}

/* ===============
   TYPOGRAPHY
   =============== */
.doc-help {
    text-align: center;
}

.doc-link, .doc-link:visited {
    color: #05e997;
}

/* ===============
   HOME PAGE
   =============== */
header {
    background: url(../img/home_bkg.jpg) no-repeat 50% 0px fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    width: 100%;
    height: 400px;
    color: #fff;
}